
body{
  background-attachment: fixed;
  background-clip: border-box;
  background-color: #ccc;
  background-image: url("../images/cookiewall.jpg");
  background-origin: padding-box;
  background-position: center top;
  background-repeat: no-repeat;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 22px;
  margin: 0 0 22px;
  padding: 0;
}

a, a:visited {
  color: #0E87CD;
}

p {
  margin-top: 0;
}

.button_no {
  display: inline-block;
  margin-left: 20px;
}

#popup {
  width: 600px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #000;
  padding: 40px;
  position:relative;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  z-index: 2;
}

#more_info {
  display: none;
}

h2 {
  font-size: 18px;
}

.consent { margin-right: 10px;}

.button {
  border-radius:3px; 
  border:0px; 
  padding:10px; 
  height: 40px;
  color:#fff;
  font-weight:bold;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  cursor: pointer;
  background-color: #ffad43;
  background: #FF9900; 
  background: -webkit-gradient(linear, left top, left bottom, from(#15db00), to(#12bf00));
  background: -moz-linear-gradient(top,  #15db00,  #12bf00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#15db00', endColorstr='#12bf00');
}


